@import "node_modules/bootstrap/scss/functions";
@import '../scss/variables';
@import '../scss/mixins/elevation';

.titleContainer{

  display: flex;
  align-items: center;
  padding:  nth(nth($spacers, 5), 2) nth(nth($spacers, 7), 2);
  background-color: $neutral-10;
  font-family: $font-family-sans-serif;

  @include elevationElementCreator1();

}

.suffix{
  padding-right: nth(nth($spacers, 4), 2);
}


