@import "node_modules/bootstrap/scss/functions";
@import '../scss/variables';

$shadow-color:rgba(31,30,30,0.10);
$base: 2px;

.card{
  padding: 24px 16px;
  margin: 16px;
  border-radius: 5px;

  &.border{
    border: 1px solid $neutral-20;
    box-shadow: none;
  }

  @for $i from 1 through 5 {
    &.elevation-#{$i}{
      box-shadow: 0 ($base * $i) ($base * ($i + 1)) 0 rgba(31,30,30,0.10);
    }
  }

  &.selected {
    @extend .elevation-5
  }

  &.animated{
    animation: all .4s;
    cursor: pointer;
    &:hover{
      @extend .elevation-4;
    }
    &:active{
      box-shadow: 0 4px 6px 0 rgba(31,30,30,0.10) !important;
    }
    &:focus{
      background-color: green;
    }
  }

  
}