@import "node_modules/bootstrap/scss/functions";
@import '../../scss/variables';


.headerItem{
  line-height: 1;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover{
    background-color: $primary-30;
    cursor: pointer;
  }

  i {
    padding-bottom: 8px;
  }
}
