@import "node_modules/bootstrap/scss/functions";
// @import './fonts';
@import './variables';
@import './elevation';


.btn{
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-height: 48px;
  font-weight: 300;
  cursor: pointer;
  font-family: 'Ubuntu';
  font-size: 1rem;
  $disableColor: $neutral-20;
  @extend .elevation-element-2;

  i{
    vertical-align: bottom;
    display: inline;
    font-size: 24px !important;

    &.prefix{
      margin-right: 3px;
    }
    &.suffix{
      margin-left: 3px;
    }
  }

  &:active{
    box-shadow: none;
  }

  &.btn-primary-outline{
    background-color: white;
    border: 1px solid $primary-20;
    color: $primary-20;

    &:hover,&:active{
      border-color: $primary-30;
      color: $primary-30;
    }
    
    &:disabled{
      border: 1px solid $disableColor;
      background-color: white;
      color: $disableColor;
      box-shadow: none;
    }
  }

  &.btn-primary-text{
    background-color: white;
    // border: 1px solid $primary-20;
    color: $primary-20;
    box-shadow: none;

    span{text-decoration: underline;}

    &:hover,&:active{
      border-color: $primary-30;
      color: $primary-30;
    }
    
    &:disabled{
      border: none;
      background-color: white;
      color: $disableColor;
      box-shadow: none;
    }
  }

  &.btn-secondary-text{
    background-color: white;
    // border: 1px solid $primary-20;
    color: $info-40;
    box-shadow: none;

    span{text-decoration: underline;}

    &:hover,&:active{
      border-color: $info-40;
      color: $info-40;
    }
    
    &:disabled{
      border: none;
      background-color: white;
      color: $disableColor;
      box-shadow: none;
    }
  }

  &.btn-primary{
    background-color: $primary-20;
    color: white;

    &:hover,&:active{
      background-color: $primary-30;
    }
  }

  &.btn-secondary {
    color: white;
    background-color: $info-40;
    &:hover,&:active{
      background-color: $info-50;
    }
  }

  &.btn-secondary-outline {
    background-color: white;
    border: 1px solid $info-40;
    color: $info-40;

    &:hover,&:active{
      border-color: $info-50;
      color: $info-50;
    }

    &:disabled{
      border: 1px solid $disableColor;
      background-color: white;
      color: $disableColor;
      box-shadow: none;
    }
  }

  &:disabled{
    background-color: $neutral-20;
    pointer-events: none;
    border: none;
    box-shadow: none;
    color: white;
  }
}