$fontsPath: "./fonts" !default;
@import 'fonts';

$availableFonts: (16, 20,24,32,40,48,56,64);

[class^="__coopeuch-icon__icon-"], [class*=" __coopeuch-icon__icon-"], 
[class^="coopeuch-icon"], [class*=" coopeuch-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-flex;
  vertical-align: middle;
  
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @for $i from 1 through length($availableFonts) {
      &.size-#{$i} {
        font-size: nth($availableFonts, $i) + px;
      }
    }
  }
  
  .icon-alarm:before {
  content: "\e900";
  }
  .icon-alert:before {
  content: "\e901";
  }
  .icon-app-notification:before {
  content: "\e902";
  }
  .icon-block:before {
  content: "\e903";
  }
  .icon-bookmark:before {
  content: "\e904";
  }
  .icon-bug:before {
  content: "\e905";
  }
  .icon-check-double:before {
  content: "\e906";
  }
  .icon-check:before {
  content: "\e907";
  }
  .icon-cloud-disable:before {
  content: "\e908";
  }
  .icon-cloud-download:before {
  content: "\e909";
  }
  .icon-cloud-upload:before {
  content: "\e90a";
  }
  .icon-cloud:before {
  content: "\e90b";
  }
  .icon-cogwheel:before {
  content: "\e90c";
  }
  .icon-copy:before {
  content: "\e90d";
  }
  .icon-cross:before {
  content: "\e90e";
  }
  .icon-cut:before {
  content: "\e90f";
  }
  .icon-dashboard:before {
  content: "\e910";
  }
  .icon-down:before {
  content: "\e911";
  }
  .icon-download-queue:before {
  content: "\e912";
  }
  .icon-download:before {
  content: "\e913";
  }
  .icon-draft:before {
  content: "\e914";
  }
  .icon-exit-fullscreen:before {
  content: "\e915";
  }
  .icon-eye-close:before {
  content: "\e916";
  }
  .icon-eye-open:before {
  content: "\e917";
  }
  .icon-female-user:before {
  content: "\e918";
  }
  .icon-file:before {
  content: "\e919";
  }
  .icon-filter:before {
  content: "\e91a";
  }
  .icon-flag:before {
  content: "\e91b";
  }
  .icon-fullscreen:before {
  content: "\e91c";
  }
  .icon-heart:before {
  content: "\e91d";
  }
  .icon-help:before {
  content: "\e91e";
  }
  .icon-home:before {
  content: "\e91f";
  }
  .icon-information:before {
  content: "\e920";
  }
  .icon-left:before {
  content: "\e921";
  }
  .icon-lifebuoy:before {
  content: "\e922";
  }
  .icon-list:before {
  content: "\e923";
  }
  .icon-loading:before {
  content: "\e924";
  }
  .icon-lock:before {
  content: "\e925";
  }
  .icon-login:before {
  content: "\e926";
  }
  .icon-logout:before {
  content: "\e927";
  }
  .icon-menu-burger:before {
  content: "\e928";
  }
  .icon-menu-dots:before {
  content: "\e929";
  }
  .icon-microphone-disable:before {
  content: "\e92a";
  }
  .icon-microphone:before {
  content: "\e92b";
  }
  .icon-minus:before {
  content: "\e92c";
  }
  .icon-note:before {
  content: "\e92d";
  }
  .icon-notification-disable:before {
  content: "\e92e";
  }
  .icon-notification:before {
  content: "\e92f";
  }
  .icon-paste:before {
  content: "\e930";
  }
  .icon-plus:before {
  content: "\e931";
  }
  .icon-power-sign:before {
  content: "\e932";
  }
  .icon-print:before {
  content: "\e933";
  }
  .icon-puzzle:before {
  content: "\e934";
  }
  .icon-refresh:before {
  content: "\e935";
  }
  .icon-reply-all:before {
  content: "\e936";
  }
  .icon-reply:before {
  content: "\e937";
  }
  .icon-right:before {
  content: "\e938";
  }
  .icon-save:before {
  content: "\e939";
  }
  .icon-screenshot:before {
  content: "\e93a";
  }
  .icon-search-alt:before {
  content: "\e93b";
  }
  .icon-search-check:before {
  content: "\e93c";
  }
  .icon-search-cross:before {
  content: "\e93d";
  }
  .icon-search-minus:before {
  content: "\e93e";
  }
  .icon-search-plus:before {
  content: "\e93f";
  }
  .icon-share:before {
  content: "\e940";
  }
  .icon-shield:before {
  content: "\e941";
  }
  .icon-snooze:before {
  content: "\e942";
  }
  .icon-star:before {
  content: "\e943";
  }
  .icon-stars:before {
  content: "\e944";
  }
  .icon-sync:before {
  content: "\e945";
  }
  .icon-task:before {
  content: "\e946";
  }
  .icon-time:before {
  content: "\e947";
  }
  .icon-trash-empty:before {
  content: "\e948";
  }
  .icon-trash-full:before {
  content: "\e949";
  }
  .icon-trash:before {
  content: "\e94a";
  }
  .icon-umbrella:before {
  content: "\e94b";
  }
  .icon-unlock:before {
  content: "\e94c";
  }
  .icon-up:before {
  content: "\e94d";
  }
  .icon-upload-queue:before {
  content: "\e94e";
  }
  .icon-upload:before {
  content: "\e94f";
  }
  .icon-user:before {
  content: "\e950";
  }
  .icon-verification-fail:before {
  content: "\e951";
  }
  .icon-verification:before {
  content: "\e952";
  }
  .icon-wrench:before {
  content: "\e953";
  }
  .icon-write:before {
  content: "\e954";
  }
  