/* Ubuntu Font Family Bower-ready v0.1.13 */
/* Ubuntu @font-face kit */

/* BEGIN Ubuntu Light */
@font-face {
    font-family: 'Ubuntu';
    src: url('#{$fontsPath}/ubuntu-light-webfont.eot');
    src: url('#{$fontsPath}/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontsPath}/ubuntu-light-webfont.woff2') format('woff2'),
         url('#{$fontsPath}/ubuntu-light-webfont.woff') format('woff'),
         url('#{$fontsPath}/ubuntu-light-webfont.ttf') format('truetype'),
         url('#{$fontsPath}/ubuntu-light-webfont.svg#ubuntulight') format('svg');
    font-weight: 300;
    font-style: normal;
}
/* END Ubuntu Light */

/* BEGIN Ubuntu Regular */
@font-face {
    font-family: 'Ubuntu';
    src: url('#{$fontsPath}/ubuntu-regular-webfont.eot');
    src: url('#{$fontsPath}/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontsPath}/ubuntu-regular-webfont.woff2') format('woff2'),
         url('#{$fontsPath}/ubuntu-regular-webfont.woff') format('woff'),
         url('#{$fontsPath}/ubuntu-regular-webfont.ttf') format('truetype'),
         url('#{$fontsPath}/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* END Ubuntu Regular */

/* BEGIN Ubuntu Medium */
@font-face {
    font-family: 'Ubuntu';
    src: url('#{$fontsPath}/ubuntu-medium-webfont.eot');
    src: url('#{$fontsPath}/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontsPath}/ubuntu-medium-webfont.woff2') format('woff2'),
         url('#{$fontsPath}/ubuntu-medium-webfont.woff') format('woff'),
         url('#{$fontsPath}/ubuntu-medium-webfont.ttf') format('truetype'),
         url('#{$fontsPath}/ubuntu-medium-webfont.svg#ubuntumedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
/* END Ubuntu Medium */

/* BEGIN Ubuntu Bold */
@font-face {
    font-family: 'Ubuntu';
    src: url('#{$fontsPath}/ubuntu-bold-webfont.eot');
    src: url('#{$fontsPath}/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontsPath}/ubuntu-bold-webfont.woff2') format('woff2'),
         url('#{$fontsPath}/ubuntu-bold-webfont.woff') format('woff'),
         url('#{$fontsPath}/ubuntu-bold-webfont.ttf') format('truetype'),
         url('#{$fontsPath}/ubuntu-bold-webfont.svg#ubuntubold') format('svg');
    font-weight: bold;
    font-style: normal;
}
/* END Ubuntu Bold */

@font-face {
    font-family: 'icomoon';
    src:  url('#{$fontsPath}/icomoon.eot?f39bek');
    src:  url('#{$fontsPath}/icomoon.eot?f39bek#iefix') format('embedded-opentype'),
      url('#{$fontsPath}/icomoon.ttf?f39bek') format('truetype'),
      url('#{$fontsPath}/icomoon.woff?f39bek') format('woff'),
      url('#{$fontsPath}/icomoon.svg?f39bek#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  