@import "node_modules/bootstrap/scss/functions";
// @import './fonts';
@import '../scss/variables';
@import '../scss/elevation';

$disableColor: $neutral-20;

%condencedDisabled {
  &:disabled{
    background-color: $disableColor;
    color: white;
  }
}

@mixin outline($name, $main, $pressed) {
  &.btn-#{$name}-outline{
    background-color: white;
    border: 1px solid $main;
    color: $main;

    &:hover,&:active{
      border-color: $pressed;
      color: $pressed;
    }

    &:disabled {
      border: 1px solid $disableColor;
      background-color: white;
    }
  }

  &.btn-#{$name}{
    background-color: $main;
    color: white;
    &:hover,&:active{
      background-color: $pressed;
    }
    @extend %condencedDisabled;
  }

  &.btn-#{$name}-text{
    color: $main;
    box-shadow: none;

    span{text-decoration: underline;}

    &:hover,&:active{
      border-color: $pressed;
      color: $pressed;
    }
    
  }
}

.btn{
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-height: 48px;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Ubuntu';
  font-size: 1rem;
  background-color: transparent;
  @extend .elevation-element-2;

  i{
    vertical-align: bottom;
    display: inline;
    font-size: 24px !important;

    &.prefix{
      margin-right: 8px;
    }
    &.suffix{
      margin-left: 8px;
    }
  }

  &:active, &:disabled{
    box-shadow: none;
  }

  @include outline('primary', $primary-20, $primary-30);
  @include outline('secondary', $info-40, $info-50);

  &:disabled{
    pointer-events: none;
    border: none;
    box-shadow: none;
    color: $disableColor;
  }
}