@import "node_modules/bootstrap/scss/functions";
@import '../scss/variables';
@import '../scss/mixins/elevation';

@mixin statusCreator($color) {
  input, textarea { border-color: $color; }
}

.inputContainer{
  
  &.error{
    @include statusCreator($danger-40);
  }
  
  &.success{
    @include statusCreator($success-40);
  }

  &.disabled{
    @include statusCreator($disableColor);
    pointer-events: none;
    .inputLabel{
      color: $disableColor;
    }
  }
}

.inputLabel{
  font-weight: bold;
  font-size: 16px;
  font-family: inherit;
  margin-bottom: 8px;
  display: block;
}

.inputHelper{
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  color: $neutral-40;

  .successText{
    color: $success-40;
  }
  .errorText{
    color: $danger-40;
  }

  i{
    margin-right: nth(nth($spacers, 3), 2);
  }
}
